.hero-content {
  position: relative;
  top: -500px;
  left: 200px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

.hero-content hr {
  width: 80px;
  background-color: whitesmoke;
  height: 3px;
}

.hero-text {
  font-size: 50px;
}

.hero-subtext {
  font-size: 15px;
}
