.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  padding: 20px 0;
  z-index: 2;
  border-bottom: 1px solid gray;
  background-color: white;
}

.header-utils {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sns-icon {
  display: flex;
  gap: 10px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header-links hr {
  height: 10px;
}
